// Toasts
.toast {
  @include toast-variant($gray-color-dark);
  border-radius: $border-radius;
  display: block;
  padding: $layout-spacing;
  width: 100%;

  &.toast-primary {
    @include toast-variant($primary-color);
  }

  &.toast-success {
    @include toast-variant($success-color);
  }

  &.toast-warning {
    @include toast-variant($warning-color);
  }

  &.toast-error {
    @include toast-variant($error-color);
  }

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    
    &:focus,
    &:hover,
    &:active,
    &.active {
      text-decoration: underline;
    }
  }

  .btn-clear {
    margin: $unit-h;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
